.about-container {

    .title-font {
        font-family: 'Poppines';
        font-weight: 700;
        font-size: 40px;
        line-height: 60px;
        color: white;
    }

    .content-font {
        font-family: 'Poppines';
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: white;
    }

    .image-size {
        width: 400px;
    }

}