.about-container {

    .title-font {
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 40px;
        line-height: 60px;
        color: white;
    }

    .color-title {
        display: none;
        font-family: 'Poppins';
        font-size: 30px;
        line-height: 60px;
        font-weight: 700;
        color: var(--primary);
    }

    .content-font {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: white;
    }

    .image-size {
        width: 400px;
    }

    .image-hide {
        display: none;
    }


    @media (max-width:900px) {
        .color-title {
            display: block;
        }

        .content-font {
            font-size: 12px;
            line-height: 18px;
        }

        .title-font {
            font-size: 20px;
            line-height: 30px;
        }

        .image-hide {
            display: block;
        }

        .image-show {
            display: none;
        }


    }

    @media (min-width: 900px) {
        .lap-pl-5 {
            padding-left: 50px;
        }
    }

}