.chart-container {
  background: #1053FF1A;
  border: 0.5px solid #1053FF;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

.chart-header {
  padding: 0 22px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button-filter {
  background: rgba(16, 83, 255, 0.1);
  border: 0.5px solid #1053FF;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.5;
  padding: 15px 30px;
  margin-right: 15px;
  margin-bottom: 20px;
  cursor: pointer;
}

.button-filter.selected {
  opacity: 1;
}

.button-price-floor {
  background: #1053FF;
  border: 0.5px solid #1053FF;
  border-radius: 10px;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-align: right;
  color: #FFFFFF;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.chart-panel {
  width: 1050px;
  height: 500px;
  border: 1px solid #1053FF;
}

@media (max-width:768px) {
  .chart-panel {
    width: 100%;
    height: 250px;
  }

  .button-filter {
    font-size: 8px;
    padding: 5px 10px;
    border-radius: 4px;
  }

  .button-price-floor {
    font-size: 8px;
    padding: 5px 10px;
    border-radius: 4px;
  }

}