.detail-container {
    .border-btn {
        border: 1px solid #1053FF;
        border-radius: 4px;
        background-color: transparent;
        padding: 5px 10px;
        color: white;
        font-family: Poppins;
        font-weight: 400;
        font-size: 16px;
        display: inline-block;
    }

    .select {
        display: flex;
        color: #AAA;
        appearance: none;
        background-image: url(../../public/img/icons/arrow.svg);
        background-repeat: no-repeat;
        background-position: right 0.75rem center;
        background-size: 16px 12px;
        width: 85px;
    }

    .toggle {
        position: relative;
        display: flex;
        align-items: center;
        gap: 5px;

        .toggle-bar {
            width: 49px;
            height: 10px;
            background: rgba(255, 255, 255, 0.2);
            border-radius: 20px;
        }

        .toggle-pointer {
            width: 16px;
            height: 16px;
            position: absolute;
            background-color: #23B028;
            border-radius: 50%;
            left: 40px;
            transition: 0.3s;
        }

        .north,
        .south {
            width: 22px;
            height: 22px;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0.2);
            font-size: 12px;
            padding: 3px 5px;
        }

        .north {
            padding: 3px 7px;
        }

        .south {
            background-color: #1053FF;
            color: rgba(255, 255, 255);
            padding: 2px 7px;
        }

        .south-area,
        .north-area {
            position: absolute;
            width: 25px;
            height: 25px;
            left: 37px;
        }

        .north-area {
            left: 65px;
        }
    }

    .session-1 {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .opt-btn-group {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .select:focus {
                outline: 0;
            }
        }

        .img-width {
            width: 172px;
            height: 172px;
            border-radius: 6px;
        }

    }

    .content-box {
        background: rgba(16, 83, 255, 0.1);
        border: 0.5px solid var(--primary);
        border-radius: 10px;
        padding: 18px 18px;

        .icons-group {
            display: flex;
            gap: 10px;
            float: right;
            height: fit-content;

            .vertical-line {
                height: 39px;
                opacity: 0.15;
                border: 1px solid #FFFFFF;
                margin-top: -6px;
            }

            .icon-general {
                height: fit-content;
                cursor: pointer;
            }

            .icon-menu {
                height: fit-content;
                margin-top: 9px;
                cursor: pointer;
            }
        }
    }

    .icons-group-1 {
        display: flex;
        justify-content: space-around;
        gap: 10px;
        height: fit-content;

        .vertical-line {
            height: 39px;
            opacity: 0.15;
            border: 1px solid #FFFFFF;
            margin-top: -6px;
        }

        .icon-general {
            height: fit-content;
            cursor: pointer;
        }

        .icon-menu {
            height: fit-content;
            margin-top: 9px;
            cursor: pointer;
        }
    }

    .straight-line {
        width: 0;
        height: 22px;
        border-left: 1px solid white;
        opacity: 0.2;
        margin-top: 5px;
    }

    .linear-line {
        transform: rotate(0.08deg);
        background: linear-gradient(270deg, #131313 0%, #1053FF 66%, #131313 80%);
        width: 100%;
        border: none;
        display: flex;
        height: 1px;
        margin-top: 30px;
    }

    .linear-vertical-line {
        transform: rotate(90.08deg);
        background: linear-gradient(270deg, #131313 0%, #1053FF 66%, #131313 80%);
        width: 60%;
        border: none;
        display: flex;
        height: 1px;
        margin-left: 22px;
    }


    .content-sub-box {
        padding: 10px 18px;
    }

    .rank-btn {
        width: 172px;
        height: 72px;
        padding: 19px 45px 20px 42px;
        text-align: center;
        background: rgba(16, 83, 255, 0.1);
        border: 0.5px solid var(--primary);
        border-radius: 10px;
    }

    .bold-font {
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        color: white;
    }

    .bold-color-font {
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        color: var(--primary);
    }

    .sub-title-font {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        color: var(--primary);
    }

    .text-font {
        font-family: 'Poppins';
        font-size: 16px;
        font-weight: 500;
        line-height: 30px;
        color: white;
    }

    .text-font-1 {
        font-family: 'Poppins';
        font-size: 16px;
        font-weight: 700;
        line-height: 30px;
        color: white;
    }

    .text-font-2 {
        font-family: 'Poppins';
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        color: white;
    }

    .text-color-font {
        font-family: 'Poppins';
        font-size: 16px;
        font-weight: 500;
        line-height: 30px;
        color: #E5A601;
        cursor: pointer;
    }

    .text-grey-font {
        font-family: 'Poppins';
        font-size: 16px;
        font-weight: 500;
        line-height: 30px;
        color: white;
        opacity: 0.5;
    }

    .gap-10 {
        gap: 10px;
    }

    .ttable {
        margin-top: 6rem;

        .tdd:first-child {
            width: 30%;
        }

        .tdd:nth-child(2) {
            width: 20%;
        }

        .tdd:nth-child(3) {
            width: 20%;
        }

        .tdd:nth-child(4) {
            width: 30%;
        }

        .trr {
            display: flex;
            flex-direction: row;
            border: 1px solid #1053FF;
            background-color: #161b30;
            padding: 10px 5px;
            border-radius: 4px;
            color: white;
            align-items: center;
            margin-bottom: 10px;

            .tdd {

                .imgg {
                    width: 80px;
                    height: 80px;
                    border-radius: 10px;
                    margin-top: -2px;
                }

                .img-text {
                    font-size: 15px;
                    display: inline-block;
                }

                .hfont {
                    font-size: 15px;
                    display: inline-block;
                }

                .primary-color {
                    color: var(--primary);
                }
            }
        }

    }

    .load-btn {
        background: rgba(16, 83, 255, 0.2);
        border: 1px solid var(--primary);
        border-radius: 4px;
        padding: 17px 61px;
        color: white;
        text-align: center;
        width: fit-content;
        cursor: pointer;
    }

    .next-btn {
        background: rgba(16, 83, 255, 0.2);
        border: 1px solid var(--primary);
        border-radius: 8px;
        font-weight: bold;
        padding: 8px 10px;
        color: white;
        text-align: center;
        width: fit-content;
        cursor: pointer;
    }

    .session-3 {
        margin-top: 50px;
        background: rgba(16, 83, 255, 0.1);
        border: 0.5px solid #1053FF;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding-top: 44px;




        .ppadding {
            padding: 0 32px;
        }

        .buttom-background {
            padding: 0 -32px;
            background: linear-gradient(0deg, rgba(16, 83, 255, 0.5) 0%, rgba(16, 83, 255, 0) 100%);
        }

        .fload-btn {
            margin-top: 15px;
            margin-bottom: 20px;
            background: var(--primary);
            border: 1px solid var(--primary);
            border-radius: 4px;
            padding: 17px 61px;
            color: white;
            text-align: center;
            width: fit-content;
            cursor: pointer;
        }
    }

    .mobile-flex {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 10px;
    }

    .mobile-show {
        display: none;
    }

    // .mobile-hide {
    //     display: block;
    // }

    .accordion-button {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 1rem 1.25rem;
        font-size: 1rem;
        color: #212529;
        text-align: left;
        background-color: #fff;
        border: 0;
        border-radius: 0;
        overflow-anchor: none;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, border-radius .15s ease
    }

    @media(prefers-reduced-motion:reduce) {
        .accordion-button {
            transition: none
        }
    }

    .accordion-button:not(.collapsed) {
        color: #0c63e4;
        background-color: #e7f1ff;
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125)
    }

    .accordion-button:not(.collapsed):after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
        transform: rotate(-180deg)
    }

    .accordion-button:after {
        flex-shrink: 0;
        width: 1.25rem;
        height: 1.25rem;
        margin-left: auto;
        content: "";
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-size: 1.25rem;
        transition: transform .2s ease-in-out
    }

    @media(prefers-reduced-motion:reduce) {
        .accordion-button:after {
            transition: none
        }
    }

    .accordion-button:hover {
        z-index: 2
    }

    .accordion-button:focus {
        z-index: 3;
        border-color: #86b7fe;
        outline: 0;
        box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25)
    }

    .accordion-header {
        margin-bottom: 0
    }

    .accordion-item {
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, .125)
    }

    .accordion-item p {
        font-size: 20px !important
    }

    .accordion-item:first-of-type {
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem
    }

    .accordion-item:first-of-type .accordion-button {
        border-top-left-radius: calc(.25rem - 1px);
        border-top-right-radius: calc(.25rem - 1px)
    }

    .accordion-item:not(:first-of-type) {
        border-top: 0
    }

    .accordion-item:last-of-type {
        border-bottom-right-radius: .25rem;
        border-bottom-left-radius: .25rem
    }

    .accordion-item:last-of-type .accordion-button.collapsed {
        border-bottom-right-radius: calc(.25rem - 1px);
        border-bottom-left-radius: calc(.25rem - 1px)
    }

    .accordion-item:last-of-type .accordion-collapse {
        border-bottom-right-radius: .25rem;
        border-bottom-left-radius: .25rem
    }

    .accordion-body {
        padding: 1rem 1.25rem
    }

    @media (max-width:768px) {

        .content-sub-box {
            padding: 4px 7px;
        }

        .rank-btn {
            width: 131px;
            height: 49px;
            font-size: 14px;
            padding: 10px 45px 10px 31px;
            text-align: center;
        }

        .border-btn {
            padding: 2px 4px;
            font-size: 10px;

        }

        .select {
            background-position: right 0.25rem center;
            background-size: 10px 12px;
            width: 45px;
        }

        .toggle {

            .toggle-bar {
                height: 6px;
                border-radius: 4px;
            }

            .toggle-pointer {
                width: 12px;
                height: 12px;
                left: 22px;
            }

            .north,
            .south {
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background: rgba(255, 255, 255, 0.2);
                font-size: 12px;
                padding: 0px 3px;
            }

            .south-area {
                position: absolute;
                width: 25px;
                height: 25px;
                left: 17px;
            }

            .north-area {
                left: 50px;
            }

        }

        .session-1 {
            .img-width {
                width: 131px;
                height: 131px;
            }
        }

        .ttable {
            margin-top: 1rem;

            .tdd:first-child {
                width: 35%;
            }

            .tdd:nth-child(2) {
                width: 20%;
            }

            .tdd:nth-child(3) {
                width: 20%;
            }

            .tdd:nth-child(4) {
                width: 25%;
            }

            .trr {
                display: flex;
                flex-direction: row;
                border: 1px solid #1053FF;
                background-color: #161b30;
                padding: 10px 5px;
                border-radius: 4px;
                color: white;
                align-items: center;
                margin-bottom: 10px;

                .tdd {

                    .imgg {
                        margin-top: 0px;
                        width: 40px;
                        height: 40px;
                    }

                    .img-text {
                        width: 50%;
                        font-size: 12px;
                        display: inline-block;
                    }

                    .hfont {
                        font-size: 12px;
                        display: inline-block;
                    }


                    .primary-color {
                        color: var(--primary);
                    }
                }
            }

        }

        .session-3 {
            margin-top: 15px;

            .ppadding {
                padding: 0 10px;
            }
        }

        .content-box {
            padding: 8px 8px;

            .icons-group {
                display: none;
            }
        }

        .bold-font {
            font-size: 16px;
            line-height: 0;
        }

        .bold-color-font {
            font-size: 16px;
        }

        .sub-title-font {
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
        }

        .text-font {
            font-size: 10px;
            font-weight: 500;
            line-height: 20px;
        }

        .text-font-1 {
            font-size: 12px;
        }

        .text-font-2 {
            font-size: 12px;
        }

        .text-grey-font {
            font-size: 12px;
            line-height: 0;
        }

        .text-font {
            font-size: 13px;
        }

        .linear-line {
            margin-top: 3px;
            margin-bottom: 8px;
        }

        .mobile-show {
            display: flex;
        }

        .mobile-hide {
            display: none;
        }

        .mobile-flex {
            flex-direction: column;
            gap: 0;
        }
    }
}