.nfttable {
    margin-top: 50px;

    .nft-buttons {
        display: flex;
        gap: 12px;
    }

    .star {
        width: 20px;
    }

    .nft-settings {
        float: right;
        display: flex;
        gap: 10px;
    }


    .btn_table {
        color: white;
        background: none;
        text-decoration: none;
        border: none;

        &:focus {
            .filter-list-body {
                display: block !important;
            }
        }
    }

    .filter-list-body {
        position: absolute;
        top: 40px;
        left: 0;
        border-radius: 7px;
        display: none;
        z-index: 999;
        background: grey;
        opacity: 0.9;
        color: white;
        width: 300px;
        height: auto;
        max-height: 400px;
        padding: 10px 10px;
        // opacity: 0.9;
        overflow-x: hidden;
        overflow-y: auto;

        .name {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: transparent 1px solid;
            border-radius: 1px;
            text-align: left;
            font-size: 18px;
            background: #16161c;
            color: white;
            padding: 3px 7px;
            margin-bottom: 5px;

            &:hover {
                cursor: pointer;
                background: black;
            }
        }

        &:hover {
            display: block;
        }

        &:active {
            display: block;
        }
    }

    .border-but {
        border: 1px solid #1053FF;
        border-radius: 4px;
        background-color: transparent;
        padding: 5px 10px;
        color: white;
        font-family: Poppins;
        font-weight: 400;
        font-size: 16px;
        display: inline-block;
    }

    .pointer {
        cursor: pointer;
    }

    .select {
        display: flex;
        color: #AAA;
        appearance: none;
        background-image: url(../../public/img/icons/arrow.svg);
        background-repeat: no-repeat;
        background-position: right 0.75rem center;
        background-size: 16px 12px;
        width: 85px;
    }

    .select:focus {
        outline: 0;
    }

    .toggle {
        position: relative;
        display: flex;
        align-items: center;
        gap: 5px;

        .toggle-bar {
            width: 49px;
            height: 10px;
            background: rgba(255, 255, 255, 0.2);
            border-radius: 20px;
        }

        .toggle-pointer {
            width: 16px;
            height: 16px;
            position: absolute;
            background-color: #23B028;
            border-radius: 50%;
            left: 40px;
            transition: 0.3s;
        }

        .north,
        .south {
            width: 22px;
            height: 22px;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0.2);
            font-size: 12px;
            padding: 3px 5px;
            transition: 0.3s;
        }

        .north {
            padding: 3px 7px;
        }

        .south {
            background-color: #1053FF;
            color: rgba(255, 255, 255, 0.4);
            padding: 2px 7px;
        }

        .south-area,
        .north-area {
            position: absolute;
            width: 25px;
            height: 25px;
            left: 37px;
        }

        .north-area {
            left: 65px;
        }
    }

    .table {
        .td:first-child {
            width: 4%;
        }

        .td:nth-child(2) {
            width: 35%;
        }

        .td:nth-child(3) {
            width: 8%;
        }

        .td:nth-child(4) {
            width: 9%;
        }

        .td:nth-child(5) {
            width: 10%;
        }

        .td:nth-child(6) {
            width: 10%;
        }

        .td:nth-child(7) {
            width: 14%;
        }

        .td:nth-child(8) {
            width: 10%;
        }

        .th {
            margin: 15px 0px;
            background-color: #1053FF;
            color: white;
            font-size: 12px;
            font-weight: 600;
            padding: 10px;
            border-radius: 4px;
            display: flex;
        }

        .tr {
            display: flex;
            border: 1px solid #1053FF;
            background-color: #161b30;
            padding: 10px;
            border-radius: 4px;
            color: white;
            align-items: center;
            margin-bottom: 10px;
        }

        .td {
            text-align: center;

            img {
                margin-top: -2px;
            }

            .green {
                color: #01E50A;
            }

            .red {
                color: #E50101;
            }

            a {
                font-family: "Poppins";
                color: white;
                font-size: 15px;
                width: 50%;
            }

            .hfont {
                font-size: 15px;
                width: 50%;
                display: inline-block;
            }

            .avatar {
                padding: 0;
                width: 70px;
                height: 70px;
                border-radius: 10px;
            }
        }

        .sortarrow {
            line-height: 0px;
            display: inline-block;
            vertical-align: middle;
        }

        .sortarrow div:hover {
            opacity: 0.7;
            cursor: pointer;
        }

        .sortarrow div:nth-child(2) {
            margin-top: -6px;
        }

        .chart-button {
            border: 1px solid #E5A601;
            border-radius: 4px;
            background-color: rgba(229, 166, 1, 0.2);
            padding: 5px 10px;
            color: white;
            font-family: Poppins;
            font-weight: 400;
            font-size: 11px;
            display: inline-block;
        }
    }

    .pagination {
        position: relative;
        display: block;
        background-color: #152147;
        padding: 10px 20px;
        border-radius: 4px;
        color: white;
        align-items: center;
        margin-bottom: 10px;

        .select {
            display: inline-block;
            margin-left: 15px;
        }

        .item-num {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .arrows {
            float: right;
            margin-top: 5px;

            .border-but {
                padding: 1px 10px;
                margin-left: 10px;
                cursor: pointer;
            }

            .disable {
                opacity: 0.5;
                cursor: not-allowed;
            }
        }
    }

    @media (max-width: 768px) {
        .border-but {
            padding: 2px 4px;
            font-size: 10px;
        }

        .star {
            width: 12px;
            margin-top: -2px;
        }

        .nft-buttons {
            gap: 3px;
        }

        .hidden-mobile {
            display: none !important;
        }

        .select {
            background-position: right 0.25rem center;
            background-size: 10px 12px;
            width: 45px;
        }

        .toggle {

            .toggle-bar {
                height: 6px;
                border-radius: 4px;
            }

            .toggle-pointer {
                width: 12px;
                height: 12px;
                left: 22px;
            }

            .north,
            .south {
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background: rgba(255, 255, 255, 0.2);
                font-size: 12px;
                padding: 0px 3px;
            }

            .south {
                background-color: #1053FF;
            }

            .south-area {
                position: absolute;
                width: 25px;
                height: 25px;
                left: 17px;
            }

            .north-area {
                left: 50px;
            }

        }

        .table {
            .td:first-child {
                width: 10%;
            }

            .td:nth-child(2) {
                width: 45%;
            }

            .td:nth-child(3) {
                width: 20%;
            }

            .td:nth-child(4) {
                width: 0%;
            }

            .td:nth-child(5) {
                width: 25%;
            }

            .td:nth-child(6) {
                width: 0%;
            }

            .td:nth-child(7) {
                width: 0%;
            }

            .td:nth-child(8) {
                width: 0%;
            }

            .th {
                margin: 15px 0px;
                background-color: #1053FF;
                color: white;
                font-size: 10px;
                font-weight: 400;
                padding: 5px;
                border-radius: 4px;
                display: flex;
            }

            .tr {
                display: flex;
                border: 1px solid #1053FF;
                background-color: #161b30;
                padding: 5px 0px;
                border-radius: 4px;
                color: white;
                align-items: center;
                margin-bottom: 10px;
                font-size: 12px;
            }

            .td {

                text-align: center;



                img {
                    margin-top: -2px;
                }

                .green {
                    color: #01E50A;
                }

                .red {
                    color: #E50101;
                }

                a {
                    font-size: 12px;
                    width: 70%;
                }

                .hfont {
                    font-size: 12px;
                    width: 70%;
                    display: inline-block;
                }

                .avatar {
                    width: 50px;
                    height: 50px;
                    padding: 1px;
                }
            }

            .align-center {
                display: flex;
                align-items: center;
            }

            .sortarrow {
                line-height: 0px;
                display: inline-block;
                vertical-align: middle;
            }

            .sortarrow div:hover {
                opacity: 0.7;
                cursor: pointer;
            }

            .sortarrow div:nth-child(2) {
                margin-top: -6px;
            }

            .chart-button {
                border: 1px solid #E5A601;
                border-radius: 4px;
                background-color: rgba(229, 166, 1, 0.2);
                padding: 5px 10px;
                color: white;
                font-family: Poppins;
                font-weight: 400;
                font-size: 11px;
                display: inline-block;
            }
        }

        .pagination {
            position: relative;
            display: block;
            background-color: #152147;
            padding: 5px 10px;
            border-radius: 4px;
            color: white;
            align-items: center;
            margin-bottom: 10px;
            font-size: 10px;

            .select {
                display: inline-block;
                margin-left: 15px;
            }

            .item-num {
                position: absolute;
                left: 60%;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            .arrows {
                float: right;
                margin-top: 0px;

                .border-but {
                    padding: 1px 10px;
                    margin-left: 10px;
                    cursor: pointer;
                }

                .disable {
                    opacity: 0.5;
                    cursor: not-allowed;
                }
            }
        }

    }

}